# Output
iris-raytracer.log
iris-viewer.log
imgui.ini
*.nsight-gfxproj

# Visual Studio
.vs/
out/

# CLion
cmake-build-*/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Visual Studio Code
.vscode/
